aiofiles
aiohttp
asqlite @ git+https://github.com/Rapptz/asqlite.git
async-timeout
asyncio-dgram
attrs
beautifulsoup4
certifi
cffi
chardet
charset-normalizer
click
colorama
commonmark
discord.py[voice]
dnspython
ffmpeg-python
future
idna
mcstatus
multidict
mutagen
pycparser
Pygments
PyNaCl
pytube
pytz
rapidfuzz
requests
rich
six
soupsieve
spotdl
spotipy
tqdm
typing-extensions
Unidecode
urllib3
yarl
youtube-dl
youtube-search
ytmusicapi
